/* Global */
@use 'global/variables';
@use 'global/mixins';
@use 'global/fonts';
@use 'global/reboot';
@use 'global/container';
@use 'global/visually-hidden';

/* Blocks */
@use 'blocks/btn';
@use 'blocks/custom-input';
@use 'blocks/form';
@use 'blocks/header';
@use 'blocks/post-card';
@use 'blocks/post';
@use 'blocks/posts';
@use 'blocks/login';
@use 'blocks/register';
@use 'blocks/comment';
@use 'blocks/profile';
@use 'blocks/profile-form';
