// @use '../global/mixins.scss' as *;

.btn {
  flex-shrink: 0;
  cursor: pointer;
  border: none;
  padding: 17px;
  margin: 0;
  border-radius: 10px;
  border: 2px solid;
  font-family: var(--ff-main);
  font-weight: 600;
  font-size: 16px;
  line-height: 13px;
  color: var(--color-white);
  outline: none;
  transition: background-color var(--transition-80);
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;

  // @include vp-767 {
  //   padding: 15px 39px;
  // }

  // &:hover,
  // &:focus-visible {
  //   opacity: 0.8;
  // }

  // &:disabled {
  //   cursor: default;
  //   color: var(--color-white)-50;
  // }

  &--primary {
    background-color: var(--color-vivid-orange);
    border-color: var(--color-vivid-orange);

    &:hover,
    &:focus-visible {
      border-color: var(--color-pure-orange);
      background-color: var(--color-pure-orange);
    }
  }

  &--secondary {
    background-color: transparent;
    color: var(--color-vivid-orange);

    &:hover,
    &:focus-visible {
      color: var(--color-pure-orange);
      border-color: var(--color-pure-orange);
    }
  }

  &--with-icon {
    padding: 11.5px;
  }

  // &--tertiary {
  //   background-color: var(--color-white);
  //   border-color: var(--color-white);
  //   color: $color-black;
  // }

  // &--icon {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   padding: 15px 21px;

  //   &:disabled {
  //     background-color: $color-industrial-revolution;
  //   }
  // }
}
