.custom-textarea {
  $root: &;
  position: relative;
  width: 100%;

  &--error {
    #{$root}__counter {
      color: var(--color-light-red);
    }
  }

  &:not(&--error) {
    #{$root}__field {
      &:hover,
      &:focus-visible {
        border-color: var(--color-fark-grayish-red);
      }
    }
  }

  &__label {
    margin: 0 0 8px;
    font-size: 14px;
    line-height: 22px;
  }

  &__field {
    resize: none;
    height: 137px;
    border: 1px solid var(--color-very-light-grey);
    font-family: var(--ff-main);
    border-radius: 2px;
    padding: 4px 11px;
    width: 100%;
    outline: none;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-very-dark-grey);

    &::placeholder {
      color: var(--color-black-25);
    }

    // @include vp-767 {
    //   padding: 15px 51px;
    // }
  }

  &__counter {
    font-size: 14px;
    line-height: 22px;
    color: var(--color-black-25);
    display: block;
    text-align: end;
    transition: color var(--transition-80);
  }
}
