.custom-textarea {
  $root: &;
  position: relative;
  width: 100%;

  // &--error {
  //   #{$root}__field {
  //     border-color: var(--color-light-red);
  //   }
  // }

  // &:not(&--error) {
  //   #{$root}__field {
  //     &:hover,
  //     &:focus-visible {
  //       border-color: var(--color-fark-grayish-red);
  //     }
  //   }
  // }

  &__label {
    margin: 0 0 8px;
    font-size: 14px;
    line-height: 22px;
  }

  // &__label-text {
  //   font-size: 14px;
  //   line-height: 22px;
  //   color: var(--color-black-85);
  // }

  &__field {
    resize: none;
    height: 137px;
    border: 1px solid var(--color-very-light-grey);
    font-family: var(--ff-main);
    border-radius: 2px;
    padding: 4px 11px;
    width: 100%;
    outline: none;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-very-dark-grey);
    transition: border-color var(--transition-80);

    &::placeholder {
      color: var(--color-black-25);
    }

    // @include vp-767 {
    //   padding: 15px 51px;
    // }
  }

  // &__error {
  //   position: absolute;
  //   font-size: 12px;
  //   line-height: 16px;
  //   left: 0;
  //   bottom: -16px;
  //   color: var(--color-light-red);
  // }

  &__counter {
    font-size: 14px;
    line-height: 22px;
    color: var(--color-black-25);
    display: block;
    text-align: end;
  }
}
