.custom-file-input {
  display: none;
  align-self: center;
  width: 100%;
  overflow: hidden;
  justify-content: center;

  &__label {
    color: var(--color-vivid-orange);
    gap: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__label-text {
    text-decoration: underline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  &__field {
    display: none;
  }
}
