.form {
  $root: &;
  width: 100%;
  margin: 0;

  &--error {
    #{$root}__error {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__group {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    border: none;
    padding: 0;
    margin: 0 0 30px;
  }

  &__group-name {
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 8px;
  }

  &__group-item {
    &--two-cols {
      grid-column: span 2;
    }
  }

  &__error {
    color: var(--color-light-red);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  &__btn-register {
    width: 234px;
  }

  &__btn-login {
    width: 113px;
  }

  &__btn-back {
    width: 111px;
  }

  &__btn-login {
    width: 113px;
  }
}
