@use '../global/mixins' as *;

.header {
  $root: &;
  padding: 29px 0 40px;
  position: relative;
  overflow: hidden;
  height: 251px;

  &--home-page {
    height: 422px;

    #{$root}__top {
      margin: 0 0 121px;
    }
  }
  // @include vp-767 {
  // }

  &__bg-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -10;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: var(--color-black-70);
    }
  }

  &__bg-image {
    width: 100%;
    height: 100%;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 0 29px;
    border-bottom: 1px solid var(--color-white-60);
    margin: 0 0 39px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
  }

  &__profile {
    color: var(--color-white);
    font-size: 16px;
    line-height: 183%;
  }

  &__logo {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
