@use '../global/mixins' as *;

.header {
  $root: &;
  padding: 29px 0 40px;
  position: relative;
  overflow: hidden;
  height: 251px;

  &--home-page {
    height: 422px;

    #{$root}__top {
      margin: 0 0 121px;
    }
  }
  // @include vp-767 {
  //   padding: 16px 0;

  //   &--search-open {
  //     height: 64px;
  //     background-color: $color-black-50;

  //     #{$root}__logo,
  //     #{$root}__link,
  //     #{$root}__btn,
  //     #{$root}__right {
  //       display: none;
  //     }

  //     #{$root}__search-form {
  //       width: 90%;
  //       display: block;
  //       position: absolute;
  //       left: 50%;
  //       top: 16px;
  //       transform: translateX(-50%);
  //       z-index: 20;
  //     }

  //     #{$root}__search-overlay {
  //       opacity: 1;
  //       pointer-events: all;
  //     }
  //   }
  // }

  &__bg-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -10;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: var(--color-black-70);
    }
  }

  &__bg-image {
    width: 100%;
    height: 100%;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 0 29px;
    border-bottom: 1px solid var(--color-white-60);
    margin: 0 0 39px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
  }

  &__profile {
    color: var(--color-white);
    font-size: 16px;
    line-height: 183%;
  }

  // &__wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;

  //   @media (max-width: 1200px) {
  //     gap: 30px;
  //   }

  //   @include vp-767 {
  //     grid-template-columns: 81px 1fr;
  //   }
  // }

  &__logo {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 144px;
    height: 32px;

    @include vp-767 {
      width: 81px;
    }
  }

  &__content {
    display: grid;
    align-items: center;
    gap: 80px;
    grid-template-columns: 1fr 120px;

    @media (max-width: 1200px) {
      gap: 30px;
    }

    @include vp-767 {
      display: flex;
      gap: 20px;
      justify-content: end;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 40px;

    @include vp-767 {
      gap: 20px;
    }
  }

  // &__link,
  // &__link-main {
  //   font-size: 24px;
  //   line-height: 32px;
  //   position: relative;
  //   outline: none;
  //   transition: color $transition-80;
  //   border: none;
  //   margin: 0;
  //   padding: 0;
  //   background-color: transparent;
  //   color: var(--color-white);
  //   font-family: var(--ff-main);
  //   cursor: pointer;

  //   &--profile {
  //     text-align: right;

  //     @include vp-767 {
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //     }
  //   }

  //   &:hover,
  //   &:focus-visible {
  //     color: $color-winterspring-lilac;
  //   }

  //   &::after {
  //     content: '';
  //     width: 100%;
  //     height: 1.5px;
  //     background-color: $color-magenta;
  //     position: absolute;
  //     bottom: -6px;
  //     left: 0;
  //     display: none;
  //   }

  //   &.router-link-active {
  //     &::after {
  //       display: block;
  //     }
  //   }
  // }

  &__link-main {
    @include vp-1023 {
      display: none;
    }
  }

  &__link-text {
    @include vp-767 {
      display: none;
    }
  }

  // &__link-icon {
  //   display: none;

  //   @include vp-767 {
  //     display: block;
  //     color: var(--color-white);
  //   }
  // }

  &__btn {
    display: none;
    background-color: transparent;
    border: none;
    padding: 0;

    @include vp-767 {
      display: flex;
    }
  }

  &__search {
    width: 100%;
  }

  &__search-form {
    @include vp-767 {
      display: none;
    }
  }

  &__right {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__right-desktop {
    @include vp-767 {
      display: none;
    }
  }

  &__right-mobile {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}
