.post {
  &__image {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }

  &__wrapper {
    border-radius: 10px;
    overflow: hidden;
  }

  &__content {
    background-color: var(--color-white);
    padding: 30px 102px 119px;
  }

  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    margin: 0 0 15px;
    color: var(--color-very-dark-grey);

    // @include vp-767 {
    //   font-size: 24px;
    //   line-height: 32px;
    //   margin: 0 0 40px;
    // }
  }

  &__description {
    margin: 0 0 50px;

    // @include vp-1023 {
    //   gap: 24px;
    // }
  }

  &__comments {
    list-style-type: none;
    margin: 0 0 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}
