.profile {
  $root: &;
  width: 100%;

  &__wrapper {
    padding: 0 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: 240px 1fr;
  }

  &--isEditing {
    #{$root}__content {
      display: none;
    }

    & .custom-file-input {
      display: flex;
    }
  }

  &__img-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 15px;
  }

  &__image {
    width: 240px;
    height: 240px;
    border-radius: 10px;
  }

  &__img-error {
    color: var(--color-light-red);
    font-size: 12px;
    line-height: 16px;
  }

  &__title {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5px;
  }

  &__name {
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    margin: 0;
  }

  &__edit {
    color: var(--color-grey);
  }

  &__item {
    display: block;
    font-size: 14px;
    line-height: 22px;
  }

  &__location {
    display: block;
    font-size: 18px;
    line-height: 100%;
    margin: 0 0 30px;
  }

  &__bio {
    margin: 0;
  }
}
